*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'ProximaNova','lucida grande','lucida sans unicode','lucida sans',Verdana,Tahoma,sans-serif
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    background-color: #f5f5f5;
}

header h1{
    color: #03363d;
    padding: 5px;
    text-align: center
}

.container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.total-tickets{
    font-size: 0.5em;
    text-align: end;
}

.tickets-list li{
    font-size: 1.1em;
    margin-top: 1em;
    border: 1px solid #33333378;
    border: 1px solid #33333378;
    border-radius: 10px;
    padding: 10px;
    padding-left: 10px;
}
article{
    transition: display 2s ease-in-out;
}

.ticket-details{
    display: none;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.ticket-details div{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.tickets-item:hover{
    cursor: pointer;
}

.page-buttons{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    padding-bottom: 20px;
}
